<h1>on this page gearihgskrhad will be the welcome page and you can log in here</h1>

 <%= link_to plants_path do %>
    <div class=""><h3><strong>You haven't completed any yet!</strong></h3></div>
<% end %>


